<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>33</string>
		<key>title</key>
		<string>个人信息</string>
	</dict>
	<array>
		<dict>
			<key>icon</key>
			<string>34</string>
			<key>title</key>
			<string>清理空间</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>35</string>
			<key>title</key>
			<string>关于face2face</string>
		</dict>
	</array>
	<dict>
		<key>icon</key>
		<string>36</string>
		<key>title</key>
		<string>退出登录</string>
	</dict>
</array>
</plist>
