<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon</string>
		<key>name</key>
		<string>11</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>icon</key>
		<string>icon</string>
		<key>content</key>
		<string>活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费活动资讯网专注于互联网有奖活动信息收集和整理,每天更新众多实用的微信活动、游戏活动、qq活动资讯等等,包括众多网友一起分享活动技巧、活动攻略,丰富业余生活,拿免费</string>
	</dict>
</array>
</plist>
